*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#rightwheel {
    animation: wheel 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#womanbike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#hair{
    animation: hair 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel{
    
    from{
transform: rotateZ(0deg);
    }
    to{
        ransform: rotateZ(300deg);
    }
}
@keyframes bike{
    from{
    transform: rotateX(0deg);    
    }
    to{
        transform:rotateX(20deg);

    }
}

@keyframes hair{
    from{
transform: translateY(0%) 
    }
    to{
transform: translateY(13%) 
    }
}